<section class="bg-primary">
  <div class="wrapper-two-col">
    <div class="card">
      <div class="card-title">
        <h1>Use services with quality for free and now.</h1>
        <h1>Evolving into a new customer requirements</h1>
      </div>
      <div class="card-body">
        <p>A company focused on development a nd new technologies of this age,
          so you will get the access to complete applications and services for
          any aspect of your daily life. If you're a educator, student,
          developer or whoever who needs our applications, you're fit to
          participate of this new revolution. Specially, if you're interested in
          getting new knowledges about tech, just sign in and follow the steps</p>
        <span class="btn-group">
          <a class="btn btn-primary" href="/products">Get started</a>
          <a class="link link-primary weight" href="/resources">Have any
            question? Talk with us
          </a>
        </span>

      </div>
    </div>
    <img width="100%" src="/img/—Pngtree—technology software_5416742.png" />
  </div>
</section>

<section class="py-section">
  <p class="tc light color-light">We are focused on math, so be confident
    because we are inspired in
  </p>
  <div class="wrapper py-container jc-center">
    <div class="vertical-wrapper w-small">
      <img width="100%" src="/img/calculadora.png" />
      <p class="thin color-primary tc">Computers</p>
    </div>
    <span class="vertical-wrapper w-small">
      <img width="100%" src="/img/matematicas.png" />
      <p class="thin color-secondary tc">Maths</p>
    </span>
    <span class="vertical-wrapper w-small">
      <img width="100%" src="/img/cartesiano.png" />
      <p class="thin color-terciary tc">Complexity</p>
    </span>
  </div>
</section>

<section class="px-container">
  <div class="font-xxlarge w-medium center">
    <h1 class="tc">Working with math never has been that comfort</h1>
  </div>
  <p class="p-content tc center py-paragraph w-medium">Our applications will
    provide you the whole feauters that you could need. Besides, our apps and
    services always receive support, even you could report some errors.</p>
</section>

<section class="py-section">
  <div class="wrapper wrapper-responsive px-section ai-baseline">
    <div class="wrapper-row">
      <center>
        <img width="30%" src="/img/candado.png" alt="" />
      </center>
      <h3 class="tc">Being safe</h3>
      <p class="tc color-light">Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Molestiae quas voluptates corrupti veritatis.</p>
    </div>
    <div class="wrapper-row">
      <center>
        <img width="30%" src="/img/carpeta.png" alt="" />
      </center>
      <h3 class="tc">Everything is tidy</h3>
      <p class="tc color-light">Lorem ipsum dolor, sit amet consectetur
        adipisicing elit. Nemo ad corrupti aut vero, repudiandae veritatis?</p>
    </div>
    <div class="wrapper-row">
      <center>
        <img width="30%" src="/img/nube.png" alt="" />
      </center>
      <h3 class="tc">A backup in cloud</h3>
      <p class="tc color-light">Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Ut nesciunt illo culpa porro reiciendis?</p>
    </div>
  </div>
</section>