<section class="py-section">
  <div class="wrapper wrapper-responsive px-section ai-baseline pricing">
    <div class="wrapper-row p-container shadow-light">
      <h1 class="light tc">Light</h1>
      <p class="tc animation animation-fade cursor-pointer">from
        <span class="highlighted">$0.30/month</span></p>
      <a class="btn btn-secondary cursor-pointer">Sign up</a>
      <span class="hr"></span>
      <p class="small">Light plan is oriented to the people who need a superior
        services but not with a expensive price..</p>
      <ul class="list-style-none">
        <li>Access to get the whole content</li>
        <li>Constant advisory from our personal</li>
        <li>New updating every month</li>
      </ul>
    </div>
    <div class="wrapper-row p-container shadow-light">
      <h1 class="light tc">Strong</h1>
      <p class="tc animation animation-fade cursor-pointer">from
        <span class="highlighted">$0.90/month</span></p>
      <a class="btn btn-primary tc cursor-pointer">Sign up</a>
      <span class="hr"></span>
      <p class="small">Our strong plan is the best option available for users
        right now, the possibilites are unlimited.</p>
      <ul class="list-style-none">
        <li>All the <span class="highlighted">light</span> plan</li>
        <li>Special atenttion from our support team</li>
        <li>Access to exclusive offerts</li>
      </ul>
    </div>
    <div class="wrapper-row p-container shadow-light">
      <h1 class="light tc">For free</h1>
      <p class="tc animation animation-fade cursor-pointer">from
        <span class="highlighted">$0.00/month</span></p>
      <a class="btn btn-terciary tr cursor-pointer">Go ahead</a>
      <span class="hr"></span>
      <p class="small">For free plan is just a basic option that you can choose
        in case you don't need a major one.</p>
      <ul class="list-style-none">
        <li>A basic use of our apps</li>
        <li>Keep long queue for atenttion</li>
        <li>Advertisements in everwhere</li>
      </ul>
    </div>
  </div>
</section>