<section class="bg-primary">
  <div class="wrapper-two-col">
    <center class="wrapper ai-center jc-center">
      <img width="50%" src="/img/shangoo-image.png" />
    </center>

    <div class="card">
      <div class="card-title">
        <h1>A full-use math application</h1>
        <h1
          class="animation animation-fade highlighted bw-wide d-ib cursor-pointer"
        >Shangoo</h1>
      </div>
      <div class="card-body">
        <p>We've noticed that most of math application are hard to use, so we
          got started in creating this new app, Shangoo. It is a full portable
          application downloadable for windows, and its main purporse is not
          leave or close it, you as a user can use all the functions that it
          provides you. Besides, the customization level is impresionant, just
          give it a try.</p>
        <span class="btn-group">
          <a class="btn btn-secondary" href="/download/shangoo">Download for
            windows</a>
          <a
            class="link link-terciary weight highlighted bw-wide"
            href="/resources"
          >An error has been found?
          </a>
        </span>
      </div>
    </div>
  </div>
</section>

<section class="py-container">
  <div class="wrapper-two-col">
    <center class="wrapper ai-center jc-center">
      <img width="50%" src="/img/applications-app.png" />
    </center>
    <div class="card px-container">
      <div class="card-title">
        <h1>A application navigator online</h1>
        <h1
          class="animation animation-fade highlighted bw-wide d-ib cursor-pointer"
        >Application onliner</h1>
      </div>
      <div class="card-body">
        <p>We have a whole website for you, where you can save your notes, books
          and play some trivia games against others. The only thing you have to
          do is signing up, then you can customize you profile and get started
          on using the applications that we've created for you.</p>
        <span class="btn-group">
          <a
            class="btn btn-secondary"
            href="https://nodeappse.herokuapp.com/"
          >Go ahead</a>
          <a
            class="link link-secondary weight highlighted bw-wide"
            href="/resources"
          >Have some suggestions?
          </a>
        </span>
      </div>
    </div>
  </div>
</section>

<section class="bg-primary">
  <div class="wrapper-two-col">
    <center class="wrapper ai-center jc-center">
      <img width="50%" src="/img/web-development.png" />
    </center>

    <div class="card">
      <div class="card-title">
        <h1>Learn to code for free</h1>
        <h1
          class="animation animation-fade highlighted bw-wide d-ib cursor-pointer"
        >Code writter</h1>
      </div>
      <div class="card-body">
        <p>Through out time we've noted that there's too many ways to learn to
          program, so in other's shoes it must to be hard and confusing getting
          a right oritation in learning programming. In our website you will
          learn programm anything about programming you want. Besides, you could
          participate and create you own exercises and codes for people.</p>
        <span class="btn-group">
          <a class="btn btn-secondary" href="/products">Try it now</a>
          <a
            class="link link-secondary weight highlighted bw-wide"
            href="/resources"
          >Desire to participate?
          </a>
        </span>
      </div>
    </div>
  </div>
</section>