<section class="py-paragraph">
  <div class="mx-section resources-mx">
    <div class="my-container">
      <div class="wrapper gap-0">
        <div class="acordion resources-acordion d-ib">
          <ul class="acordion-list">
            <div class="acordion-item">
              <a href="#getting-started" class="btn btn-acordion">Getting
                Started</a>
            </div>
            <li class="acordion-item">
              <button class="btn btn-acordion">> Shangoo</button>
              <div class="acordion-subcontent">
                <ul class="acordion-list">
                  <li class="acordion-item">
                    <a href="#shangoo-get-started" class="btn btn-acordion">Get
                      started</a>
                  </li>
                  <li class="acordion-item">
                    <a
                      href="#shangoo-installation"
                      class="btn btn-acordion"
                    >Installation</a>
                  </li>
                  <li class="acordion-item">
                    <a
                      href="#shangoo-advices"
                      class="btn btn-acordion"
                    >Advices</a>
                  </li>
                  <li class="acordion-item">
                    <a
                      href="#shangoo-report-bugs"
                      class="btn btn-acordion"
                    >Report bugs</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="acordion-item">
              <button class="btn btn-acordion">> Application website</button>
              <div class="acordion-subcontent">
                <ul class="acordion-list">
                  <li class="acordion-item">
                    <a href="#app-site-get-started" class="btn btn-acordion">Get
                      started</a>
                  </li>
                  <li class="acordion-item">
                    <a href="#app-site-report" class="btn btn-acordion">Report
                      bugs</a>
                  </li>
                  <li class="acordion-item">
                    <a
                      href="#app-site-suggestions"
                      class="btn btn-acordion"
                    >Suggestions</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="acordion-item">
              <button class="btn btn-acordion">> Code writter</button>
              <div class="acordion-subcontent">
                <ul class="acordion-list">
                  <li class="acordion-item">
                    <a
                      href="#code-writter-get-started"
                      class="btn btn-acordion"
                    >Get started</a>
                  </li>
                  <li class="acordion-item">
                    <a
                      href="#code-writter-contributers"
                      class="btn btn-acordion"
                    >Contributers</a>
                  </li>
                  <li class="acordion-item">
                    <a
                      href="#code-writter-suggestions"
                      class="btn btn-acordion"
                    >Suggestions</a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
        <div class="resources-container d-ib">
          <h1
            class="weight font-xxxlarge"
            id="getting-started"
          >Introduction</h1>
          <p class="thin font-xlarge main-header">Get started with DADASTUDIOS,
            a amazing company that offers different services and applications
            for users.</p>
          <h2>Quick Start </h2>
          <p>Are you looking for a quick explanation about us? Just follow the
            following steps for creating and
            <strong>account</strong>.</p>
          <h2>Create an account</h2>
          <p>To create an account in DADASTUDIOS, place your cursor on the
            webpage's nav, then click on
            <a class="color-primary" href="/accounts/signup">Sign Up</a>
            button. Now, you could choose the different authentication method
            for get logging, you can use your Google, Facebook or Git Hub
            account for that.</p>
          <div class="img-span">
            <img width="600px" src="/img/signup-img.png" alt="Signup" />
          </div>

          <!-- SHANGOO -->
          <div class="my-paragraph">
            <h1
              class="weight font-xxxlarge"
              id="shangoo-get-started"
            >Shangoo</h1>
            <p class="thin font-xlarge main-header">Shangoo is a desktop-math
              application oriented to the people who need have a whole set of
              tools to work with math, so Shangoo allows you do it.</p>
          </div>
          <h2 id="shangoo-installation">Installation</h2>
          <p>As you saw, Shangoo is a math application, so in order to install
            it you need to click on this link
            <a class="color-primary" href="/downloads/shangoo">Install Shangoo.</a>
            A windows instalator will be opened up, just follow the next steps:</p>
          <ul>
            <li>Open the instalator</li>
            <li>Select a folder
              <span class="text-span text-span-atettion">!Don't choose a folder
                with administrator permissions: x86, Windows...</span></li>
            <li>Click on "Accept"</li>
          </ul>
          <p>Once you've waited the time of your installation, you shall open
            <strong>Shangoo</strong>
            and use the whole tools and components that it has.</p>
          <h2 id="shangoo-advices">Advices</h2>
          <p>Shangoo is an application developed with
            <a href="https://www.qt.io" class="color-primary">Qt</a>
            which is an amazing framework for GUI or graphic user interfaces,
            originally it was available only in
            <a
              href="https://en.wikipedia.org/wiki/C++"
              class="colo-primary"
            >C++</a>
            but it got support in
            <a href="https://www.python.org" class="color-primary">Python</a>
            as well, so all the rights reserved to Qt.</p>
          <p class="font-small img-span" style="width: 500px;">
            If you want to learn how Python, C++ and Qt, Try
            <a href="/products" class="color-primary">Code writter,</a>
            an entire community of programmers that are helping each other.
            <a
              rel="stylesheet"
              href="/products"
              class="d-block animation animation-fade link link-primary"
            >Go ahead ></a>
          </p>
          <h2 id="shangoo-report-bugs">Report errors</h2>
          <p>If you found errors or bugs into our application you can
            communicate with us via email
            <span
              id="copy-email"
              class="text-span text-span-primary font-small cursor-pointer"
            >elproelectrominion@gmail.com</span>
            just as minimum, let us this information:
          </p>
          <ul>
            <li>Your full name</li>
            <li>Date when the bug ocurred</li>
            <li>A detailed description of the case</li>
            <li>If possible, images or videos</li>
          </ul>
          <p>Otherwise, we cannot take seriously your request and; therefore, we
            cannot resolve your trouble.</p>

          <!-- Application webiste -->
          <div class="my-paragraph">
            <h1
              class="weight font-xxxlarge"
              id="app-site-get-started"
            >Application website</h1>
            <p class="thin font-xlarge main-header">In this website, you can use
              the different applications that we have for you, which are a Notes
              app, a Books app and a Trivia game where you can compete against
              other registered users.</p>
            <h2>Get started</h2>
            <p>The only requirement to get the full access of the applications
              is to create an account, and optionally change your name for
              visibilty on the lead. The steps to create an account are the
              following:</p>
            <div class="img-span">
              <img
                style="width: 700px;"
                src="/img/apps-site-img.png"
                alt="Website of applications"
              />
            </div>
            <ul>
              <li>Go to "Sign up", on the navigation menu</li>
              <li>Fill up the fields</li>
              <li>Make sure your password is the same in both fields</li>
              <li>Click on "Submit" button</li>
            </ul>
            <p>Your account was created successfully, however
              <span class="text-span text-span-danger font-small">Insure that
                doesn't existe an account with that email yet</span></p><a
              href="/resources"
              class="link link-primary animation animation-fade d-block"
            >Go ahead ></a>
            <h2 id="app-site-report">Report bugs</h2>
            <p>If you find any bugs, let us know writting a email.
              <a href="#shangoo-report-bugs" class="color-primary">See the
                Shangoo documentation</a>
              because the steps are the same</p>
            <h2 id="app-site-suggestions">Suggestions</h2>
            <p>The same thing with suggestions, if you want to suggest anything
              about out webpage (like adding a new app into it) the process is
              the exact same thing. A email with the subject of this theme.</p>

            <!-- CODE WRITTER -->
            <div class="my-paragraph">
              <h1
                class="weight font-xxxlarge"
                id="code-writter-get-started"
              >Code writter</h1>
              <p class="thin font-xlarge main-header">Learn to code easily with a huge set of contributers and other programmers, just from teh web.</p>
              <h2>Get started</h2>
              <p>Go to <a href="..." class="color-primary">Code writter</a> website, and go to code section, you don't even need to get logged for access to the code examples, just choose the programming language that you need, and search for the exercise you're finding. And that's all you have to do</p>
              <div class="img-span">
                <img
                  style="width: 700px;"
                  src="/img/code-writter-img.png"
                  alt="Website of applications"
                />
              </div>
              <h2 id="code-writter-contributers">Contributers</h2>
              <p><strong>Code writter</strong> is a open-contributing website in order to allow that anyone has a chance of learn programming. So you must be wondering 
              <span class="text-span text-span-primary font-small">How can i create my own programming examples?</span> In that case, follow the steps:</p>
              <ul>
                <li>Create an account</li>
                <li>Go to profile section</li>
                <li>Change your name to your actual one</li>
                <li>Click on create example</li>
                <li>Fill up all the fields <span class="text-span text-span-atettion font-small">Remember that some fields force you to writte certain amount of characters</s.pan></li>
              </ul>
              <p>Once you've done it, you'll be able to visualize your own example inside <strong>coding</strong> section. Congratulations, you are contributing to the self-learn-coding on internet</p>
              <h2 id="code-writter-suggestions">Suggestions</h2>
              <p>And as always, you can suggest us your thoughts about the website itself, that allows us to enhance and improve our quality level and show how important our project is. 
                For that, just do the exact same thing that <a href="#shangoo-get-started" class="color-primary">Shangoo</a> or <a href="#app-site-suggestions" class="color-primary">Applications website.</a></p>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  const copyEmail = document.querySelector('#copy-email');
  copyEmail.addEventListener('click', () => { const content =
  copyEmail.textContent; navigator.clipboard.writeText(content).then(()=>{
  alert('Copied') }) })
</script>