<footer class="footer {{classFooter}}">
  <div class="wrapper wrapper-responsive py-section px-paragraph jc-center">
    <div class="wrapper-row">
      <h3>DADASTUDIOS</h3>
      <div class="dropdown"><p>Language</p>
        <div class="dropdown-content {{classFooter}}">
          <ul class="dropdown-list">
            <li><a href="#">English</a></li>
            <li><a href="#">Spanish</a></li>
            <li><a href="#">French</a></li>
            <li><a href="#">Chinese</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="wrapper-row">
      <h3>About us</h3>
      <ul class="footer-list">
        <li><a href="#">Employment</a></li>
        <li><a href="#">Investors</a></li>
        <li><a href="#">Legal notices</a></li>
        <li><a href="#">Privacity notices</a></li>
        <li><a href="#">Information about segurity</a></li>
        <li><a href="#">Confidence center</a></li>
        <li><a href="#">Map of the sitie</a></li>
      </ul>
    </div>
    <div class="wrapper-row">
      <h3>Support</h3>
      <ul class="footer-list">
        <li><a href="#">Contact</a></li>
        <li><a href="#">Clients portal</a></li>
        <li><a href="#">Your status</a></li>
        <li><a href="#">Payment assitence</a></li>
      </ul>
    </div>
    <div class="wrapper-row">
      <h3>Social Media</h3>
      <ul class="footer-list">
        <li><a href="#">Git Hub</a></li>
        <li><a href="#">Stack Overflow</a></li>
        <li><a href="#">LinkedIn</a></li>
        <li><a href="#">Youtube</a></li>
        <li><a href="#">Twitter</a></li>
        <li><a href="#">Twitch</a></li>
        <li><a href="#">Facebook</a></li>
      </ul>
    </div>
  </div>
</footer>

<script src="/js/dropdown.js"></script>
<script src="/js/alerts.js"></script>